{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}
    {{moment.include_jquery()}}
    {{moment.include_moment()}}
{% endblock %}

{% block title %}EasyThink{% endblock %}

{% block page_content %}
    <div class="page-header">
    <h1 style="text-align: center; color: #999;">Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
    <blockquote style="font-size: 30px; text-align: center; color: #999;">
       Welcome to EasyThink!<br />
       you can share your questions when you make your project<br />
       maybe we can give you some choices to solve your problems<br />
       if you have some advice,you can send the email to <a href="mailto:hygjx@vip.qq.com">hygjx@vip.qq.com</a> <br />
       Thank you viewing my website,happiness surrounds with you.
    </blockquote>
    <hr/>
    </div>
    <div>
    {% if current_user.can(Permissions.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
    </div>
    {% include '_articles.html' %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination,'root_bp.index') }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
